*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.external{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("backgroundReact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.internal div{
    margin-top: 25px;
    opacity: 0.9;
}
.internal div:hover{
    opacity: 1;
    cursor: pointer;
}
.internal label{
    font-weight: bold;
    color: wheat;
}
.internal input{
    padding: 10px;
    width: 100%;
    border: 0;
    text-decoration: underline;
    font-size: 15px;
}
.registerForm input{
    background-color: rgb(233, 45, 45);
    font-weight: bold;
    text-decoration: none;
}